h1 Morpion Battle
span Multiplayers Morpion games
section(id="authentification",ng-controller="Auth_root")
    section(class="register",ng-controller="Auth_login")
        h2 Login
        section.popupAnimation(class="flash",ng-show="show === true")
            i(class="fa fa-exclamation-circle")
            p {{flashMsg}}
        form(name="signin",ng-submit="submit()",novalidate)
            nginput(
                ng-model="formData.login",
                name="login",
                placeholder="Login",
                min="2",
                max="12",
                type="text",
                form="form"
            )
            nginput(
                ng-model="formData.password",
                name="password",
                placeholder="Password",
                min="8",
                max="24",
                type="password",
                form="form"
            )
            // Submit input
            input(type="submit",ng-class="{'disabled' : signin.$invalid}",ng-disabled="signin.$invalid",value="Login")
    section(class="login",ng-controller="Auth_register")
        h2 Register account
        section.popupAnimation(class="flash",ng-show="show === true")
            i(class="fa fa-exclamation-circle")
            p {{flashMsg}}
        form(name="register",ng-submit="submit()",novalidate)
            nginput(
                ng-model="formData.login",
                name="login",
                placeholder="Login",
                min="2",
                max="12",
                type="text",
                form="form"
            )
            nginput(
                ng-model="formData.password",
                name="password",
                placeholder="Password",
                min="8",
                max="24",
                type="password",
                form="form"
            )
            nginput(
                ng-model="formData.passwordRepeat",
                name="password_repeat",
                placeholder="Password repeat",
                min="8",
                max="24",
                type="password",
                form="form"
            )
            // Submit input
            input(type="submit",ng-class="{'disabled' : register.$invalid}",ng-disabled="register.$invalid",value="Sign in")
